sqlalchemy~=1.3.19
click~=7.1.2
dash~=1.16.2
environs~=8.0
flask~=1.1.2
flask-sqlalchemy~=2.4.4
flask-migrate~=2.5.3
jupyterlab~=2.2.8
matplotlib~=3.3.2
numpy~=1.19.2
obspy~=1.2.2
pandas~=1.1.2
plotly~=4.10.0
psycopg2-binary~=2.8.6
scipy~=1.5.2
tqdm~=4.49.0
utm~=0.6.0
beautifulsoup4~=4.9.1

#test
# black
# pre_commit
pytest~=6.0.2
pytest-cov~=2.10.1
mypy~=0.782
