more-itertools
sqlalchemy~=1.3.20
click
environs
flask
flask-sqlalchemy
flask-migrate
jupyterlab
loguru
matplotlib
numpy
obspy
pandas
psycopg2-binary
rich
pydantic
scipy
tqdm
toml
utm
beautifulsoup4
dask[complete]
pendulum
wheel

# Requirements for tests
# black
# pre_commit
pytest
pytest-check
pytest-cov
pytest-dependency
pytest-mock
mock
mypy
sqlalchemy-stubs
flake8
types-python-dateutil
types-toml

# Requirements for docs
sphinx
sphinx-autobuild
sphinx-autoapi
sphinx-paramlinks

# if using typehints
sphinx-autodoc-typehints

autodoc

pydata-sphinx-theme
doc8
