sqlalchemy
click
dash
environs
flask
flask-sqlalchemy
flask-migrate
jupyterlab
matplotlib
numpy
obspy
pandas
plotly
psycopg2
scipy
tqdm
utm
beautifulsoup4

#test
black
pre_commit
pytest
pytest-cov
mypy
